rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function estaAutorizado() {
      return exists(/databases/$(database)/documents/usuarios_autorizados/$(request.auth.uid));
    }
    function ehAdmin() {
      return get(/databases/$(database)/documents/usuarios_autorizados/$(request.auth.uid)).data.papel == "admin";
    }
    match /usuarios_autorizados/{uid} {
      allow read: if request.auth != null && request.auth.uid == uid;
      allow write: if ehAdmin();
    }
    match /clientes/{clienteId} {
      allow read, write: if request.auth != null && estaAutorizado();
    }
    match /equipamentos/{equipamentoId} {
      allow read, write: if request.auth != null && estaAutorizado();
    }
    match /ordens_servico/{osId} {
      allow read, write: if request.auth != null && estaAutorizado();
    }
    match /plano_atividades/{planoId} {
      allow read, write: if request.auth != null && estaAutorizado();
    }
  }
}
